@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap'); /* 폰트 불러오기 */

* { font-family: 'Noto Sans KR', sans-serif; list-style: none; text-decoration: none; border-collapse: collapse; margin:0px; padding:0px; color: #000; } 

.wrap { position: relative; left: -20%; } 

.header { z-index: 10; display: flex; width: 1300px; margin:auto; height: 86px;} 

   /* 상단바 고정 */
.nav { z-index: 10; display: flex; position: fixed;
 padding-left: 15%;
 justify-content: flex-end; line-height: 86px; width:calc(1300px - 300px); } 
.nav li { margin-left: 80px; } 
.nav li a { color : rgb(0, 0, 0); } 
.nav li a:hover { color: rgb(178, 122, 178); transition: 0.3s; } 
.nav li a:not(:hover) { color: rgb(0, 0, 0); transition: 0.3s; } 

.logo_text { z-index: 20; /* header보다 위로 올라오게 함 */
 width:30%; height:100px; margin-top: 30px; } 

.logo_text > h2 { position: fixed; color: rgb(0, 0, 0); font-family: 'Righteous', cursive; font-size: 30px; cursor: pointer;}

.logo_text > h2:hover { color: rgb(184, 17, 184); transition: 0.3s; } 
.logo_text > h2:not(:hover) { color: rgb(0, 0, 0); transition: 0.3s; } 




.profile_section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin: 100px 100px;
}

#profile-picture{
  width:300px;
  margin-right: 60px;
  border-radius: 100%;
}

.introduction>h2{
  margin: 0px;
  font-size: 35px;
}

.introduction>h1{
  font-weight: 300;
  font-size: 16px;
  margin-bottom: 40px;
}

.value-menu{
  font-size: 30px;
  margin:10px 260px;
}

.value-menu{
  font-size : 35px;
  margin: 10px 300px;
}

.value-section{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  margin: 50px 300px;
  margin-top: 20;
}

.value{
  display: flex;
  flex-direction: row;
  margin-bottom: 40px;
  align-items: center;
}

.value-icon{
  width: 100px;
  height: 100px;
  padding:15px;
  border: 2px solid#ccc;
  border-radius: 100px;
}

.wrap {
  width: 600px;
  margin : 0 auto;
  padding: 50px;
  box-sizing: border-box;
  background :#fff;
}

.wrap h1 {
  padding-bottom: 12px;
  border-bottom: 3px solid #000;
  font-size:32px;
  letter-spacing: -2px;
}














/*헤더 */