
/*** 상단 헤더바 디자인. 모든 css에 포함됨 ***/

@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap'); /* 폰트 불러오기 */

html { height:100%; } 

body { margin: 0px; height:100%; } 

.main { height:100%; width: 100%; } 

* { font-family: 'Noto Sans KR', sans-serif; list-style: none; text-decoration: none; border-collapse: collapse; margin:0px; padding:0px; color: #000; } 

.intro_bg { width:100%; height: 1000px; background-image: url(img/background2.jpg); background-attachment: fixed; } 

.logo_text { z-index: 20; /* header보다 위로 올라오게 함 */
 width:30%; height:100px; margin-top: 30px; } 

.logo_text > h2 { position: fixed; color: rgb(0, 0, 0); font-family: 'Righteous', cursive; font-size: 30px; cursor: pointer;}

.logo_text > h2:hover { color: rgb(184, 17, 184); transition: 0.3s; } 
.logo_text > h2:not(:hover) { color: rgb(0, 0, 0); transition: 0.3s; } 

.header { z-index: 10; display: flex; width: 1300px; height: 86px; margin:auto; } 

.nav { z-index: 10; display: flex; position: fixed; /* 상단바 고정 */
 padding-left: 15%; /* 왼쪽 패딩 조정 */
 justify-content: flex-end; line-height: 86px; width:calc(1300px - 300px); } 
.nav > li { margin-left: 80px; } 

.nav > li > a { color : #000; } 

.nav > li > a:hover { color: rgb(178, 122, 178); transition: 0.3s; } 

.nav > li > a:not(:hover) { color: #000; transition: 0.3s; } 

/*** 상단 헤더바 디자인 끝 ***/


/** 글쓰기 테이블 디자인 **/

.thead_area { width: 610px; height: 300px; margin: auto; }

.thead { width: 600px; height:300px; } 

#edit_title { width: 310px; height: 30px; font-size: 20px; border-bottom: 1px solid #000; border-top:none; border-left: none; border-right: none; outline: none; } 

#edit_img { border:0px; width: 180px; border-radius: 24px; } 

#img_btn { cursor: pointer; width: 140px; height: 30px; background-color: rgb(190, 190, 190); color: #fff; border: none; } 

#img_btn:hover { background-color: #fff; color: #000; } 

#img_btn:active { background-color: rgb(55, 55, 55); color: #fff; border: none; } 

.tbody { width: 600px; margin:auto; } 

select { width: 100px; height: 33px; padding-left: 10%; outline: none; border-bottom: 1px solid #000; border-top:none; border-left: none; border-right: none; } 

.edit_cont { width: 100%; height: 100%; outline: none; } 


/** body 태그를 통해서 중앙정렬 ==> login 묶음 시리즈 **/







