@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap'); /* 폰트 불러오기 */

*{
  font-family: 'Noto Sans KR', sans-serif;
  list-style: none;
  text-decoration: none;
  border-collapse: collapse;
  margin:0px;
  padding:0px;
  color: #000;
}

.wrap {
  position:relative;
}
.logo_text {
  cursor: default;
  position: relative;
  top:100px;
  text-align: center;
}

.logo_text > h2 {
  color: rgb(184,17, 184);
  font-family: 'Righteous', cursive; font-size: 90px;
}

.find_info {
  position: relative;
  width: 300px; height: 140px;
  top: 170px; left: 42%;
}
#find_email, #find_id {
  font-size: 22px;
  outline : 0;
  border-top: 0; border-left: 0; border-right: 0;
  border-bottom-width: 1px solid #000;
  outline: 0;
}

#find_email {
  width: 300px; height: 50px;
  position: absolute; text-align: center;
  top: 35%;
}
#find_id {
  width: 300px; height: 50px;
  position: absolute; text-align: center;
  top: 90%;
}

.find_btn {
  position: relative; text-align: center;
  width: 400px; height: 70px;
  top: 280px; left: 39.59%;
}
#submit_btn {
  width: 150px; height: 70px;
  
}
#back_btn {
  width: 150px;height: 70px;
}

#submit_btn, #back_btn {
  background-color: rgb(255, 255, 255);
  font-size: 20px;
  color: rgb(0, 0, 0);
  cursor: pointer;
  border:1;
  border-radius: 100px;
}
#submit_btn:hover, #back_btn:hover {
  background-color: blueviolet;
  border-color: blueviolet;
  color: azure;
}
#submit_btn:active, #back_btn:active {
  border-color: #000;
  background: #000;
  color: white;
}