@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap'); /* 폰트 불러오기 */

*{
  font-family: 'Noto Sans KR', sans-serif;
  list-style: none;
  text-decoration: none;
  border-collapse: collapse;
  margin:0px;
  padding:0px;
  color: #000;
}

.intro_bg{
  width:100%; height: 1000px;
  background-image: url(img/background2.jpg);
  background-attachment: fixed;
}

.logo_text { z-index: 20; /* header보다 위로 올라오게 함 */
  width:30%;  height:100px;
  margin-top: 30px;
}

.logo_text > h2 {
  position: fixed;
  color: rgb(255, 255, 255);
  font-family: 'Righteous', cursive; font-size: 30px;
  cursor: pointer;

}

.logo_text > h2:hover {
  color: rgb(184, 17, 184);
  transition: 0.3s;
}

.logo_text > h2:not(:hover) {
  color: #fff;
  transition: 0.3s;
}

.header{
  z-index: 10;
  display: flex;
  width: 1300px;
  margin:auto;
  height: 86px;
}

.nav {
  z-index: 10;
  display: flex;
  position: fixed;  /* 상단바 고정 */
  padding-left: 15%;  /* 왼쪽 패딩 조정 */
  justify-content: flex-end;
  line-height: 86px;
  width:calc(1300px - 300px);
}
.nav > li{
  margin-left: 80px;
}
.nav > li > a{
  color : #fff;
}
.nav > li > a:hover {
  color: rgb(178, 122, 178);
  transition: 0.3s;
}
.nav > li > a:not(:hover) {
  color: #fff;
  transition: 0.3s;
}

.intro_text {
  width:auto;
  margin:200px auto 213px auto; 
  /* 상 / 우 / 하 / 좌 순으로 마진이 설정됨  */
  text-align: center;

}
.intro_text > h1 {
  cursor: default;
  color: #fff;
  font-size: 70px;
}
.intro_text > h3 {
  cursor: default;
  color: #fff;
  font-size: 40px;
  padding-top: 40px;
  padding-bottom: 100px;
}

.match_btn {
  font-family: 'Righteous', cursive; font-size: 25px;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  cursor: pointer;
  width:250px; height: 250px;
  border-radius: 100%;
  border: 0; outline: 0;
}
.match_btn:hover {
  background-color: #fff;
  color:#000;
  transition: 0.3s;
  font-size: 40px;
  opacity:1;
}
.match_btn:not(:hover) {
  background-color: #000;
  color:#fff;
  transition: 0.3s;
  font-size: 25px;
}

.intro2_bg {
  width: 100%;
  height: 1000px;
  background-image: url(img/intro2.jpg);
  background-attachment: fixed;
}
.intro2_bg > h2 {
  position:relative;
  top:15%;
  left:10%;
  font-size: 40px;
  color: #fff;
}

.preview_img > img {
  width:200px;
  height:200px;
  border-radius: 30%; position:relative;
  top: 220px;
  left : 130px;
  margin-bottom: 30px;
}

.preview_post1 {
  position: relative;
  top:-420px;
  left:400px;
}

.preview_post2 {
  position: relative;
  top:-250px;
  left:400px;
}

.preview_post3 {
  position: relative;
  top:-70px;
  left:400px;
}

.preview_post1> h2, 
.preview_post1> h4,
.preview_post2> h2, 
.preview_post2> h4,
.preview_post3> h2, 
.preview_post3> h4 {
  cursor: pointer;
  color: rgb(255, 255, 255);
}

.preview_post1> h2:hover, 
.preview_post1> h4:hover,
.preview_post2> h2:hover, 
.preview_post2> h4:hover,
.preview_post3> h2:hover, 
.preview_post3> h4:hover {
  color: rgb(175, 175, 175);
  transition : 0.2s;
}