@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap'); /* 폰트 불러오기 */

* { font-family: 'Noto Sans KR', sans-serif; list-style: none; text-decoration: none; border-collapse: collapse; margin:0px; padding:0px; color: #000; } 

.wrap { position:relative; } 
.logo_text { cursor: default; position: relative; top:100px; text-align: center; } 

.logo_text > h2 { color: rgb(184,17, 184); font-family: 'Righteous', cursive; font-size: 90px; } 

.login_btn { position:absolute; width: 500px; height:200px; top: 300%; left:50%; transform: translate(-50%, -50%); } 
#GoogleBtn { position:absolute; top: -60%; left: 50%; transform: translate(-50%, -50%); width: 300px; height: 70px; } 
#MubindBtn { position: absolute; top: -20%; left: 50%; transform: translate(-50%, -50%); width: 300px; height: 70px; } 

.bottom_btn { position:relative; text-align: center; top:500px; line-height: 60px; }
#RegBtn { position: relative; width: 300px; height: 70px; } 

#GoogleBtn, #MubindBtn, #RegBtn { background-color: rgb(255, 255, 255); font-size: 20px; color: rgb(0, 0, 0); cursor: pointer; border:1; border-radius: 100px; } 
#GoogleBtn:hover, #MubindBtn:hover, #RegBtn:hover { background-color: blueviolet; border-color: blueviolet; color: azure; } 
#GoogleBtn:active, #MubindBtn:active, #RegBtn:active { border-color: #000; background: #000; color: white; } 