@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap'); /* 폰트 불러오기 */

* { font-family: 'Noto Sans KR', sans-serif; list-style: none; text-decoration: none; border-collapse: collapse; margin:0px; padding:0px; color: #000; } 

.wrap { position:relative; } 
.logo_text { cursor: default; position: relative; top:100px; text-align: center; } 

.logo_text > h2 { color: rgb(184,17, 184); font-family: 'Righteous', cursive; font-size: 90px; } 

.login_form { width: 300px; height: 300px; position: relative; left: 42.21%; top: 220px; } 

.login_form input { text-align: center; font-size: 22px; width: 300px; height: 50px; border-top: none; border-left: none; border-right: none; border-bottom-color: rgb(152, 152, 152); outline:none; } 

#input_id { position: absolute; } 
#input_pw { position: absolute; top: 70px; } 

.links { position: absolute; left: 50px; top: 200px; } 
.links a:hover { color: blueviolet; } 

.links button { width: 300px; height: 70px; position: absolute; left: -50px; top: 80px; background-color: rgb(255, 255, 255); font-size: 20px; color: rgb(0, 0, 0); cursor: pointer; border:1; border-radius: 100px; } 

button:hover { background-color: blueviolet; border-color: blueviolet; color: azure; } 
